* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    /* background-color: blueviolet; */
}

nav {
    position: sticky;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    gap: 35px;
    width: 100%;
    height: 50px;
    background-color: #292727;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
    text-transform: capitalize;
}

.hero {
    color: white;
    width: 100%;
    height: 85vh;
    background-color: black;

    /* background-repeat: no-repeat; */
}

.hero .aimg {
    margin-left: 10%;
    margin-bottom: 20px;
    width: 80%;
    height: 85vh;
    background-size: cover;
    background-position: center 5;
    background-image: url(https://www.apple.com/si/iphone-14-pro/images/key-features/hero/hero__cj6i78tzkp8i_large.jpg);
}

nav i {
    font-size: 15px;
    color: white;
}

.headtxt {
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    height: 7vh;
    font-size: 17px;
    width: 100%;
    background-color: beige;
}

.headtxt p {
    padding: 10px;
}

.headtxt a {
    color: rgb(3, 91, 206);
    text-decoration: none;
}

.headtxt a:hover {
    text-decoration: underline;
}

.herotxt {
    text-align: center;
    background-color: black;
    /* text-align: center;
        position:relative ;
        top: 28%;
        left: 50%;
        height: 40vh;
        transform: translate(-50%, -50%); */
}

.herotxt h1 {
    font-family: Gilroy;
    /* margin-top: 40px; */
    font-size: 50px;
    letter-spacing: 3px;
    color: rgb(248, 245, 248);
}

.herotxt h3 {
    margin-top: -10px;
    font-size: 30px;
    font-weight: 300;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: rgb(242, 246, 250);
    margin-bottom: 10px;
}

.herotxt a {
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(10, 202, 148);
    padding: 60px 10px;
    font-weight: 600;
    text-decoration: none;
}

.herotxt a:hover {
    color: white;
}

.page2 {
    width: 100%;
    height: 95vh;
    background-color: #fff;
}

.page2txt {
    text-align: center;
    padding-top: 50px;
}

.page2txt h1 {
    font-family: Gilroy;
    /* margin-top: 40px; */
    font-size: 50px;
    letter-spacing: 3px;
    color: rgb(53, 50, 53);
}

.page2txt h3 {
    /* margin-top: -10px; */
    font-size: 25px;
    font-weight: 200;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: rgb(26, 31, 27);
    margin-bottom: 10px;
}

.page2txt a {
    font-size: 20px;
    text-transform: capitalize;
    color: rgb(12, 81, 230);
    padding: 60px 10px;
    font-weight: 600;
    text-decoration: none;
}

.page2img {
    width: 100%;
    height: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://www.apple.com/v/iphone-14/h/images/meta/iphone-14_overview__50yr9pd9hfm2_og.png);
}

.page3 {
    width: 100%;
    height: 90vh;
    background-color: black;
}

.page3txt {
    text-align: center;
    padding-top: 50px;
}

.page3txt h1 i {
    /* margin-top: -100px; */
}

.page3txt h1 {
    font-family: Gilroy;
    text-transform: uppercase;
    /* margin-top: 40px; */
    font-size: 50px;
    letter-spacing: 4px;
    color: rgb(255, 248, 255);
}

.page3txt p {
    color: red;
    font-size: larger;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.page3txt h3 {
    /* margin-top: -10px; */
    font-size: 21px;
    font-weight: 200;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: rgb(241, 250, 243);
    margin-bottom: 10px;
}

.page3txt a {
    font-size: 20px;
    text-transform: capitalize;
    color: rgb(12, 81, 230);
    padding: 60px 10px;
    font-weight: 600;
    text-decoration: none;
}

.page3img {
    width: 100%;
    height: 65%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQevb7SWriBaXDk3NInrJJdGCPa4s15SRx7sw&usqp=CAU);
}

.page4 {
    /* gap: 10px; */
    /* justify-content: space-evenly; */
    display: flex;
    /* justify-content: center; */
    width: 100%;
    height: 80vh;
    background-color: rgb(255, 252, 252);
}

.page4 .left {
    border: 4px solid rgb(216, 199, 199);
    height: 600px;
    width: 680px;
    background-color: #f8f4f4;
}

.page4 .right {
    border: 4px solid rgb(216, 199, 199);

    height: 600px;
    width: 680px;
    background-color: #000;
}

.page4txt {
    text-align: center;
    padding-top: 50px;
}

.page4txt h1 {
    font-family: Gilroy;
    /* margin-top: 40px; */
    font-size: 50px;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: rgb(7, 7, 7);
}

.page4txt h3 {
    /* margin-top: -10px; */
    font-size: 18px;
    font-weight: 200;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    /* letter-spacing: 2px; */
    color: rgb(26, 31, 27);
    margin-bottom: 10px;
}

.page4txt a {
    font-size: 15px;
    /* text-transform: capitalize; */
    color: rgb(12, 81, 230);
    padding: 60px 10px;
    font-weight: 600;
    text-decoration: none;
}

.page4img {
    width: 100%;
    height: 68%;
    /* margin-top: 5%; */
    /* margin-left: 30px; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url(https://pngimg.com/d/iphone_PNG5737.png);
}

.page4img1 {
    padding-top: 20px;
    width: 100%;
    height: 45%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1643139863038-7355941e9e89?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
}

.page5 {
    /* gap: 10px; */
    /* justify-content: space-evenly; */
    display: flex;
    /* justify-content: center; */
    width: 100%;
    height: 80vh;
    background-color: rgb(255, 252, 252);
}

.page5 .left {
    border: 4px solid rgb(216, 199, 199);
    height: 600px;
    width: 680px;
    background-color: white;
}

.page5 .right {
    border: 4px solid rgb(216, 199, 199);

    height: 600px;
    width: 680px;
    background-color: #000;
}

.page5txt {
    text-align: center;
    padding-top: 50px;
}

.page5txt h1 {
    font-family: Gilroy;
    /* margin-top: 40px; */
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: rgb(7, 7, 7);
}

.page5txt h3 {
    /* margin-top: -10px; */
    font-size: 20px;
    font-weight: 200;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    /* letter-spacing: 2px; */
    color: rgb(26, 31, 27);
    margin-bottom: 10px;
}

.page5txt a {
    font-size: 18px;
    /* text-transform: capitalize; */
    color: rgb(12, 81, 230);
    padding: 60px 10px;
    font-weight: 600;
    text-decoration: none;
}

.page5img {
    width: 100%;
    height: 68%;
    /* margin-top: 5%; */
    /* margin-left: 30px; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url(https://piunikaweb.com/wp-content/uploads/2021/02/ipad-air-4.png);
}

.page5img1 {
    padding-top: 20px;
    width: 100%;
    height: 45%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://i.ebayimg.com/images/g/9e0AAOSwol5Y4s4Y/s-l1600.jpg);
}

.page6 {
    /* gap: 10px; */
    /* justify-content: space-evenly; */
    display: flex;
    /* justify-content: center; */
    width: 100%;
    height: 80vh;
    background-color: rgb(255, 252, 252);
}

.page6 .left {
    border: 4px solid rgb(216, 199, 199);
    height: 600px;
    width: 680px;
    background-color: black;
}

.page6 .right {
    border: 4px solid rgb(216, 199, 199);

    height: 600px;
    width: 680px;
    background-color: #fdf9f9;
}

.page6txt {
    text-align: center;
    padding-top: 50px;
}

.page6txt h1 {
    font-family: Gilroy;
    /* margin-top: 40px; */
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: rgb(7, 7, 7);
}

.page6txt h3 {
    /* margin-top: -10px; */
    font-size: 20px;
    font-weight: 200;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    /* letter-spacing: 2px; */
    color: rgb(26, 31, 27);
    margin-bottom: 10px;
}

.page6txt a {
    font-size: 18px;
    /* text-transform: capitalize; */
    color: rgb(12, 81, 230);
    padding: 60px 10px;
    font-weight: 600;
    text-decoration: none;
}

.page6img {
    width: 100%;
    height: 68%;
    /* margin-top: 5%; */
    /* margin-left: 30px; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url(https://www.gizchina.com/wp-content/uploads/images/2022/12/apple-products.jpg);
}

.page6img1 {
    padding-top: 20px;
    width: 100%;
    height: 65%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-9W9oFQ6XV33LrdcX6Ec3FU7iZopufYulCEwsXdYSyBYkg9X_3FPmtd2qj720v-k252c&usqp=CAU);
}

footer {
    margin-top: 8%;
    margin-left: 10%;
    height: 140vh;
    width: 80%;
    background-color: #f2f7f8;
}

footer p {
    font-size: 14px;
    padding: 10px 15px;
}

footer .link {
    margin-top: 15px;
    justify-content: center;
    gap: 80px;
    display: flex;
}

.link p {
    font-size: 12px;
    text-transform: capitalize;
    line-height: 8px;
}

.link h4 {
    font-size: 15px;
    text-transform: capitalize;
}

.footerlast {
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 16px;
}

.copy {
    justify-content: space-around;
    display: flex;
}

.anchor {
    margin-top: 10px;
    font-size: 13px;
    display: flex;
    gap: 15px;
    margin-left: -13%;
}

.anchor a {
    text-decoration: none;
    color: #292727;
}

.united {
    margin-top: 10px;
    text-decoration: none;
    color: black;
    margin-right: -70px;
}

.copy p {
    margin-top: 3px;
    margin-left: -5%;
}